@using MusicSearch.Models
@model List<Album>
<link rel="stylesheet" type="text/css" href="~/Content/Style.css"/>
<div class="row">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <a href="/Home/Albums/@item.ArtistAlbum/Tracks/@item.Name">
                <div class="col-md-2">
                    <div class="image">
                        <img src="@item.ImageLarge" alt="" width="300" height="300" />
                        <h2>@item.Name<br />Playcount: @item.Playcount</h2>
                    </div>
                </div>
            </a>
        }
    }
</div>
