@using MusicSearch.Models
@model List<Album>
@if (Model != null && Model.Count != 0 )
{
<div class="row">
      @foreach (var item in Model)
        {
            <a href="/Home/Albums/@item.ArtistAlbum/Tracks/@item.Name">
                <div class="col-md-2">
                    <div class="image">
                        <img src="@item.ImageLarge" alt="" width="300" height="300" />
                        <h2>@item.Name<br />Playcount: @item.Playcount</h2>
                    </div>
                </div>
            </a>
        }
</div>
    if (Model.Count > 20)
    {
        <img id="loading" src="http://www.playcast.ru/uploads/2016/02/23/17479109.gif" style="width:auto;margin-left:40%; margin-right:40%" height="80">
    }
}
else
{
    <h1 id="message"> No albums at site...</h1>
}
