@using MusicSearch.Models
@model List<Album>
@if (Model != null && Model.Count != 0 )
{
<div class="row">
      @foreach (var item in Model)
        {
            <a href="/Home/Albums/@item.ArtistAlbum/Tracks/@item.Name">
                <div class="col-md-2">
                    <div class="image">
                        @if (item.ImageLarge != "")
                        {
                            <img src="@item.ImageLarge" alt="" width="300" height="300" />
                        }
                        else
                        {
                            <img src="http://pixelbrush.ru/uploads/posts/2010-06/1277568875_vinil.jpg" alt="" width="300" height="300" />
                        }
                        
                        <h2>@item.Name<br /></h2>
                        @if (item.Playcount != 0)
                        {
                            <h2 style="top:80%">Playcount: @item.Playcount</h2>
                        }
                    </div>
                </div>
            </a>
        }
</div>

}
else
{
    <h1 id="message"> No albums at site...</h1>
}
