@using MusicSearch.Models
@model List<Author>

<link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
<div class="row">
    @foreach (var item in Model)
    {
        <a href="/Home/Albums/@item.Name">
            <div class="col-md-1">
                <div class="image">
                    <img src="@item.ImageLarge" alt="" width="300" height="300" />
                    <h2>@item.Name<br />Listeners: @item.Listeners</h2>
                </div>
            </div>
        </a>
    }
</div>

