@using MusicSearch.Models
@model List<Artist>

<link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
@if (Model != null && Model.Count != 0)
{
<div class="row">
    @foreach (var item in Model)
    {
        <a href="/Home/Albums/@item.Name">
            <div class="col-md-1">
                <div class="image">
                    @if (item.ImageLarge != "")
                    {
                    <img src="@item.ImageLarge" alt="" width="300" height="300" />
                    }
                    else
                    {
                        <img src="http://www.spartanwebsites.com/meadowcitymusicfest/wp-content/uploads/2016/05/meadow-city-music-festival-icon-1-300x300.png"width="300" height="300" />
                    }
                    <h2>@item.Name<br /></h2>
                    @if (item.Listeners != 0)
                    {
                        <h2 style="top:80%">Listeners: @item.Listeners</h2>
                    }
                </div>
            </div>
        </a>
    }
</div>
}
else
{
    <h1 id="message"> No artists at site...</h1>
}
