@using MusicSearch.Models
@model List<Album>
@{
    ViewBag.Title = "Albums";
}
<link rel="stylesheet" type="text/css" href="~/Content/Style.css" />

<div id="scrolList">
    @Html.Partial("_Albums")
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/ScrollingAlbums.js"></script>