@using MusicSearch.Models
@model List<Artist>
@{
    ViewBag.Title = "Artists";
}

<div id="scrolList">
    @Html.Partial("_Items")
</div>



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/ScrollingArtists.js"></script>

