@using MusicSearch.Models
@model List<Author>
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<style>
    .image {
        position: relative;
        width: 100%;
        max-width: 300px;
    }

    h2 {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        top: 70%;
        left: 0;
        width: 100%;
        color: white;
        background-color: rgba(0,0,0,.3);
    }
    .col-md-2 {
        min-height: 310px;
        min-width: 310px;
        max-height: 310px;
        max-width: 310px;
        padding: 3px 3px 3px 3px;
    }
</style>

<div class="row">
  @foreach (var item in Model)
  {    
        <a href="/Home/Albums/@item.Name">
            <div class="col-md-2">
                <div class="image">
                    <img src="@item.ImageLarge" alt="" width="300" height="300"/>
                    <h2>@item.Name<br />Listeners: @item.Listeners</h2>
                </div>
            </div>
        </a>   
  }
</div>