@using MusicSearch.Models
@model List<Author>
@{
    ViewBag.Title = "Artists";
}

<style>
    .image {
        position: relative;
        width: 100%;
        max-width: 300px;
    }

    h2 {
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        top: 70%;
        left: 0;
        width: 100%;
        color: white;
        background-color: rgba(0,0,0,.3);
    }
    .col-md-1 {
        float:left;
        min-height: 310px;
        min-width: 310px;
        max-height: 310px;
        max-width: 310px;
        padding: 3px 3px 3px 3px;
    }
</style>

<div id="scrolList">
    @Html.Partial("_Items")
</div>

<img id="loading" src="http://www.playcast.ru/uploads/2016/02/23/17479109.gif" style="margin-left:40%; margin-right:40%" height="80">

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/ScrollingArtists.js"></script>
