
@{
    ViewBag.Title = "Tracks";
}
<style>
    .image {
        position: relative;
        width: 100%;
        max-width: 300px;
    }   
</style>
<div class="row">
    @if (ViewBag.tracksOfAlbum != null)
    {
        foreach (var item in ViewBag.tracksOfAlbum)
        {
            <div class="col-md-4">                
                    <a href="#">
                        <img class="media-object" src="https://icon-icons.com/icons2/936/PNG/512/play-sign_icon-icons.com_73455.png" height="50" width="50">
                    </a>                
                    <h4 class="media-heading">@item.name</h4>
                    <p> Duration: @item.duration</p>         
                <br/>
            </div>
        }
    }
    else
    {
        <h1>No tracks at site...</h1>
    }
</div>
